@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Oswald:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}
.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.main-container {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
body {
    background-color: #e4e4e4;
}
body::-webkit-scrollbar {
    width: 13px;
  }
body::-webkit-scrollbar-track {
    background-color: #dde1e6;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.205) inset;
  }
body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(193,131,241,1) 0%, rgba(108,1,192,1) 50%, rgba(193,131,241,1) 100%);
    border-radius: 10px;
    transition: 1s;
    border: 2px solid #dde1e6;
  
}
  body::-webkit-scrollbar-thumb:hover {
    background: rgba(108,1,192,1);
    transition: 1s;
}



/* .progress {
    position: fixed;
    left: 0;
    top: 0;
    width: 0%;
    height: 3px;
    background-color: #46ffe6;
    border-radius: 5px;
    z-index: 3000;
  } */






/* navigation block */
.navigation-block {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.301);
    z-index: 3;
}
.title {
    /* background-color: #222222; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 70px;
    width: auto;
}
.login {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 30px;
    width: 150px;
    background-color: #7913c8;
    transition: 0.5s;
}
.login:hover {
    background-color: #ab3eff;
    box-shadow: 0px 0px 20px 0px #7913c8;
}
.login__a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__icon {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-size: 32px;
}
.logo-txt {
    text-align: center;
    /* padding: 15px 20px; */
}
.logo-txt img {
    height: 100px;
}
.logo-txt h1 {
    font-size: 60px;
    margin: -10px;
    font-weight: 500;
    color: #000000;
}
.logo-txt p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 19px;
}
.logo-txt__span {
    color: #5743b5;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
}
.menu__1 {
    text-align: center;
    width: 140px;
    padding-top: 15px;
    /* padding-bottom: 3px; */
}
.menu__1:hover .menu__line {
    transform: scale(1);
    opacity: 1;
}
.menu__1 a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    color: black;
    font-weight: 400;
}
.menu__line {
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background-color: #7913c8;
    box-shadow: 0px 0px 20px 1px #7913c8;
    transition: 0.3s;
    transform: scale(0.3);
    opacity: 0;
}
.menu__line_active {
    display: block;
    height: 2px;
    width: 100%;
    box-shadow: 0px 0px 20px 2px #7913c8;
    margin-top: 5px;
    background-color: #7913c8;
    transition: 0.3s;
    transform: scale(1);
}
/* navigation block */












.table {
    margin-top: 40px;
    margin-bottom: 40px;
}
.table-block {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.301);
}
.table-block_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.table-block_item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_img {
    width: 216px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_img img {
    border: 1px solid rgb(155, 155, 155);
    height: 80px;
    width: 80px;
    border-radius: 10px;
}
.table-name_txt {
    width: 216px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-left: 1px solid rgb(201, 201, 201);
}
.table-price-txt {
    width: 216px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-left: 1px solid rgb(201, 201, 201);
    border-right: 1px solid rgb(201, 201, 201);
}
.table-btn {
    width: 216px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-btn button {
    padding: 10px 25px 10px 20px;
    background: #7913c8;
    border: none;
    border-radius: 28px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.table-btn button:hover {
    box-shadow: 0px 0px 20px 0px #ab3eff;
    background: #ab3eff;
}
.active_btn {
    box-shadow: 0px 0px 20px 0px #ab3eff;
    background: #ab3eff !important;
}


.popupHonkai {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease-out;
}
.popup-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
    /* box-shadow: 0px 0px 20px 0px #5c5c5c8a; */
    background-color: #181b22;
    position: relative;
}
.popup-item_baner img {
    width: 100%;
    height: auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.popup-item_table {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 700px;
}
.popup-item_table h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
}
.popup-price_table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
}
.popup-price_table span {
    width: 200px;
    text-align: center;
    padding: 10px 20px 13px 20px;
}
.liner-popup {
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, rgba(121,19,200,1) 0%, rgba(60,27,216,1) 50%, rgba(152,131,254,1) 100%);
}
.popup-btn {
    margin-top: 40px;
    margin-bottom: 40px;
}
.popup-btn a {
    padding: 5px 35px 10px 30px;
    text-decoration: none;
    color: #fff;
    border: none;
    font-size: 26px;
    border-radius: 35px;
    background: #7913c8;
    transition: 0.5s;
}
.popup-btn a:hover {
    box-shadow: 0px 0px 20px 0px #ab3eff;
    background: #ab3eff;
}
.bybtn {
    text-decoration: none;
    text-align: center;
    padding: 10px 25px 10px 20px;
    background: #7913c8;
    border: none;
    border-radius: 28px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    width: 119px;
}
.bybtn:hover {
    box-shadow: 0px 0px 20px 0px #ab3eff;
    background: #ab3eff;
}















/* footer */
.upfooter {
    background: #fff;
    padding-top: 18px;
    padding-bottom: 10px;
}
.icon-foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon-foot img {
    width: 100px;
}
.footer {
    background-color: #181b22;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

}
.footer-block {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.footer-block__item a {
    text-decoration: none;
    color: #fff;
}
.footer-block__item a h3 {
    margin-bottom: 40px;
    font-weight: 500;
}
.footer-block__item a p {
    font-weight: 200;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-block__item ion-icon {
    font-size: 80px;
}
.footer-block__img img {
    width: 140px;
}
.footer-block__img p {
    font-size: 30px;    
}