* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(0,195,233,1) 50%);
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dde1e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.534);
    animation: render 5s ease-in-out forwards;
}
.block-txt {
    position: absolute;
    padding: 30px 10px;
    background-color: #dde1e6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.534);
}
.block-txt p {
    padding: 10px 20px;
    font-size: 50px;
    color: rgba(0,195,233,1);
    /* font-weight: 600; */
    text-transform: uppercase;
}
.block-txt span {
    padding: 10px 20px;
    font-size: 30px;
    /* font-weight: 600; */
    text-transform: uppercase;
}
.fa-envelope-circle-check {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 80px;
}


@keyframes render {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-500%);
    }
}
